<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        
	<aop:aspectj-autoproxy />     
       
    <bean class="com.sohan.spring.aop.aspect.LogginAspect" />
       
    <bean name="shapeService" class="com.sohan.spring.aop.service.ShapeService" autowire="byName"/>
    
    <bean name="circle" class="com.sohan.spring.aop.model.Circle" >
    	<property name="name" value="Circle name" />
    </bean>
    
    <bean name="triangle" class="com.sohan.spring.aop.model.Triangle" >
    	<property name="name" value="Triangle name" />
    </bean>
    
</beans>